In [31]:
# Dependencies
import pandas as pd

In [32]:
# Save file path to variable
purchase_data_csv = 'Resources/purchase_data.csv'

In [33]:
# Read with Pandas
heroes_df = pd.read_csv(purchase_data_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [34]:
# Player Count: Total Number of Players
player_demo_df = heroes_df.loc[:,['SN', 'Age','Gender']]
player_demo_df = player_demo_df.drop_duplicates()
total_players = player_demo_df.count()[0]
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [35]:
# Purchasing Analysis (Total)

# Number of Unique Items
items = heroes_df['Item Name'].nunique()

# Total Number of Purchases
total_number_purchases = heroes_df['Purchase ID'].count()
total_number_purchases

# Total Revenue
total_revenue = heroes_df['Price'].sum()
#total_revenue = total_revenue.astype(float) #.map("${:, .2f}".format)

# Average Purchase Price
average_purchase_price = total_revenue/total_number_purchases
#average_purchase_price = average_purchase_price.map(to_float).map("${:, .2f}".format)


purchase_analysis_list = [{"Number of Unique Items": items,
                           "Average Price": average_purchase_price,
                           "Number of Purchases": total_number_purchases,
                            "Total Revenue": total_revenue }]

purchase_analysis_df = pd.DataFrame(purchase_analysis_list)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [50]:
# Gender Demographics
gender_summary = heroes_df['Gender'].value_counts()


# Percentage and Count of Male Players
males_df = player_demo_df.loc[player_demo_df['Gender'] == 'Male',:].count()
males = males_df.iloc[1]
percent_of_males = males/total_players

# Percentage and Count of Female Players
females_df = player_demo_df.loc[player_demo_df['Gender'] == "Female",:].count()
females = females_df.iloc[1]
percent_of_females = females/total_players

# Percentage and Count of Other / Non-Disclosed
others_df = player_demo_df.loc[player_demo_df['Gender'] == "Other / Non-Disclosed",:].count()
others = others_df.iloc[1]
percent_of_others = others/total_players

gender_summary_dict = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
                       "Count": [males, females, others],
                       "Percent":[percent_of_males, percent_of_females, percent_of_others]}

gender_summary_df = pd.DataFrame(gender_summary_dict)
gender_summary_df

                  Gender  Count   Percent
0                   Male    484  0.840278
1                 Female     81  0.140625
2  Other / Non-Disclosed     11  0.019097

In [62]:
# Purchasing Analysis (Gender)
# the below, each broken by gender
## purchase count
males_purchases = heroes_df.loc[heroes_df['Gender'] == "Male",:].count()[0]

female_purchases = heroes_df.loc[heroes_df['Gender'] == "Female",:].count()[0] 

other_purchases = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed",:].count()[0] 

## average purchase price
ave_male_purchases = heroes_df.loc[heroes_df['Gender'] == "Male",:].count()[0]
## total purchase value

## average purchase total per person by gender

gender_summary_df.insert(loc=3, column='Purchase Count', value=[males_purchases, female_purchases, other_purchases])

gender_summary_df
#purchase_by_gender_dict = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
                           "Purchase Count":[males_purchases, female_purchases, other_purchases]
                            }
#purchase_by_gender_summary_df = pd.DataFrame(purchase_by_gender_dict)
#purchase_by_gender_summary_df

                  Gender  Purchase Count
0                   Male             652
1                 Female             113
2  Other / Non-Disclosed              15

                                     Purchase ID  Age  Item ID  Price
Gender                SN
Female                Adastirin33            142   35      175   4.48
                      Aerithllora36          852   58      235   8.64
                      Aethedru70             775   21       60   3.54
                      Aidain51               516   39       35   3.45
                      Aiduesu86              429   22      179   4.48
...                                          ...  ...      ...    ...
Other / Non-Disclosed Lirtim36               401   15       46   1.33
                      Maluncil97            1178   50      253   5.28
                      Rairith81              350   15       34   2.22
                      Siarithria38           769   76      170   6.91
                      Sundim98               111   21       41   4.75

[576 rows x 4 columns]

In [8]:
unique_count = heroes_df["SN"].nunique()
print(unique_count)
#unique-count = gender_analysis_df["SN"].
#print(unique-count)
# Purchase Count 
#gender_purchase_count = heroes_df.groupby(['Gender']).count()
#gender_purchase_count
#gender_comparison_df

576

In [51]:
# Average Purchase Price
average_purchase_value_by_gender = gender_analysis_df['Price'].mean()
print(average_purchase_value_by_gender)

# Total Purchase Value 
total_purchase_value_by_gender = gender_analysis_df['Price'].sum()
print(total_purchase_value_by_gender)

# Average Purchase Total per Person by Gender
gender_groupby_SN_df = heroes_df.groupby(['SN'])  #.mean()
gender_groupby_SN_df.head()
gender_groupby_SN_df.mean()

KeyError: 'Price'

In [ ]:
# Age Demographics
# The below, each broken into bins of 4 years (i.i < 10, 10-14, 15-19, etc.)
#  Purchase Count
#  Average Purchase Price
#  Total Purchase Value
#  Average Purchase Total per Person by Gender

In [ ]:
# Top Spenders
# Identify the top 5 spenders in the game by total purchase value, then list (in a table):
#  SN (Screen Name)
#  Purchase Count
#  Average Purchase Price
#  Total Purchase Value

In [ ]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value