In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
purchase_data_csv = 'Resources/purchase_data.csv'

In [3]:
# Read with Pandas
heroes_df = pd.read_csv(purchase_data_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count: Total Number of Players
# Purchase ID is one unique field, another choice would be SN or Screen Name
player_count = len(heroes_df)
player_list = [{"Total Players":player_count}]
player_count_df = pd.DataFrame(player_list)
player_count_df

   Total Players
0            780

In [5]:
# Purchasing Analysis (Total)

# Number of Unique Items
items = heroes_df['Item Name'].nunique()


# Total Number of Purchases
total_number_purchases = heroes_df['Purchase ID'].count()
total_number_purchases

# Total Revenue
total_revenue = heroes_df['Price'].sum()
#total_revenue = total_revenue.astype(float) #.map("${:, .2f}".format)


# Average Purchase Price
average_purchase_price = total_revenue/total_number_purchases
#average_purchase_price = average_purchase_price.map(to_float).map("${:, .2f}".format)


purchase_analysis_list = [{"Number of Unique Items": [items],
                           "Average Price": average_purchase_price,
                           "Number of Purchases": total_number_purchases,
                            "Total Revenue": total_revenue }]
purchase_analysis_df = pd.DataFrame(purchase_analysis_list)
purchase_analysis_df

  Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                  [179]       3.050987                  780        2379.77

In [6]:
# Gender Demographics

gender_summary = heroes_df['Gender'].value_counts()
#print(gender_summary)

# Percentage and Count of Male Players
males_df = heroes_df.loc[heroes_df['Gender'] == 'Male',:].count()
males = males_df.iloc[1]
percent_of_males = males/player_count

# Percentage and Count of Female Players
females_df = heroes_df.loc[heroes_df['Gender'] == "Female",:].count()
females = females_df.iloc[1]
percent_of_females = females/player_count


# Percentage and Count of Other / Non-Disclosed
others_df = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed",:].count()
others = others_df.iloc[1]
percent_of_others = others/player_count

gender_summary_dict = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
                       "Count": [males, females, others],
                       "Percent":[percent_of_males, percent_of_females, percent_of_others]}

gender_summary_df = pd.DataFrame(gender_summary_dict)
gender_summary_df

                  Gender  Count   Percent
0                   Male    652  0.835897
1                 Female    113  0.144872
2  Other / Non-Disclosed     15  0.019231

In [11]:
# Purchasing Analysis (Gender)
# Broken down by each gender:
gender_analysis_df = heroes_df.groupby(['Gender']) #.sum()

unique_count = heroes_df["SN"].nunique()
print(unique_count)
#unique-count = gender_analysis_df["SN"].
#print(unique-count)
# Purchase Count 
#gender_purchase_count = heroes_df.groupby(['Gender']).count()
#gender_purchase_count
#gender_comparison_df

# Average Purchase Price
average_purchase_value_by_gender = gender_analysis_df['Price'].mean()
print(average_purchase_value_by_gender)

# Total Purchase Value 
total_purchase_value_by_gender = gender_analysis_df['Price'].sum()
print(total_purchase_value_by_gender)

# Average Purchase Total per Person by Gender
gender_analysis_price = gender_analysis_df['Price'].mean()
print(gender_analysis_price)

576
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [ ]:
# Age Demographics
# The below, each broken into bins of 4 years (i.i < 10, 10-14, 15-19, etc.)
#  Purchase Count
#  Average Purchase Price
#  Total Purchase Value
#  Average Purchase Total per Person by Gender

In [ ]:
# Top Spenders
# Identify the top 5 spenders in the game by total purchase value, then list (in a table):
#  SN (Screen Name)
#  Purchase Count
#  Average Purchase Price
#  Total Purchase Value

In [ ]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value