In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
purchase_data_csv = 'Resources/purchase_data.csv'

In [3]:
# Read with Pandas
heroes_df = pd.read_csv(purchase_data_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count: Total Number of Players
player_demo_df = heroes_df.loc[:,['SN', 'Age','Gender']]
player_demo_df = player_demo_df.drop_duplicates()
total_players = player_demo_df.count()[0]
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [5]:
# Purchasing Analysis (Total)

# Number of Unique Items
items = heroes_df['Item Name'].nunique()

# Total Number of Purchases
total_number_purchases = heroes_df['Purchase ID'].count()

# Total Revenue
total_revenue = heroes_df['Price'].sum()

# Average Purchase Price
average_purchase_price = total_revenue/total_number_purchases

# organize and format the output
purchase_analysis_list = [{"Number of Unique Items": items,
                           "Average Price": average_purchase_price,
                           "Number of Purchases": total_number_purchases,
                            "Total Revenue": total_revenue }]
purchase_analysis_df = pd.DataFrame(purchase_analysis_list)
purchase_analysis_df = pd.DataFrame(purchase_analysis_list)
purchase_analysis_df['Average Price'] = purchase_analysis_df['Average Price'].astype(float).map("${:,.2f}".format)
purchase_analysis_df['Total Revenue'] = purchase_analysis_df['Total Revenue'].astype(float).map("${:,.2f}".format)

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
# Gender Demographics
gender_summary = player_demo_df['Gender'].value_counts()

gender_percent = gender_summary/total_players*100

gender_summary_df = pd.DataFrame({"Total Count":gender_summary,
                                 "Percent of Players":gender_percent})

gender_summary_df['Percent of Players'] = gender_summary_df['Percent of Players'].astype(float).map("{0:.2f}%".format)

gender_summary_df

                       Total Count Percent of Players
Male                           484             84.03%
Female                          81             14.06%
Other / Non-Disclosed           11              1.91%

In [7]:
# Purchasing Analysis (Gender)
# the below, each broken by gender
gender_df = heroes_df.loc[:,['Purchase ID','SN', 'Age','Gender', 'Price']]

#group by
gender_group = heroes_df.groupby(['Gender'])
gender_purchases_count = gender_df.groupby(["Gender"])

# Purchase Count: 
gender_purchases = gender_purchases_count.count()['Purchase ID']  

## Total Purchase Value
total_purchase_value = gender_df.groupby(["Gender"]).sum()['Price']


## Average Purchase Price
average_purchase_price = gender_df.groupby(['Gender']).mean()['Price']

## Average Purchase Total Per Person By Gender
average_person_purchase = total_purchase_value / gender_purchases


# Add to the summary dataframe 
purchase_by_gender_dict = {'Purchase Count':gender_purchases,
                          'Average Purchase Price':average_purchase_price,
                          'Total Purchase Value': total_purchase_value,
                          'Average Purchase Total per Person by Gender': average_person_purchase}



purchase_by_gender_summary_df = pd.DataFrame(purchase_by_gender_dict)

purchase_by_gender_summary_df['Average Purchase Price'] = purchase_by_gender_summary_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
purchase_by_gender_summary_df['Total Purchase Value'] = purchase_by_gender_summary_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
purchase_by_gender_summary_df['Average Purchase Total per Person by Gender'] = purchase_by_gender_summary_df['Average Purchase Total per Person by Gender'].astype(float).map("${:,.2f}".format)

purchase_by_gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

In [9]:
# Age Demographics
# The below, each broken into bins of 4 years (i.i < 10, 10-14, 15-19, etc.)

bins = [0,10,15,20,25,30,35,40,45, 50]  #note to self, max age is 45

group_names = ["under 10","10-14","15-19","20-24", "25-29","30-34","35-39","40-44","45-49"]

heroes_df["Age Groups"] = pd.cut(heroes_df["Age"], bins, labels=group_names, include_lowest=True)
heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,15-19
778,778,Sisur91,7,Male,92,Final Critic,4.19,under 10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [10]:
# Purchase Count
age_purchase_count =  heroes_df.groupby(['Age Groups']).count()['Price']
age_purchase_count

# Average Purchase Price
age_average_purch_price = heroes_df.groupby(['Age Groups']).mean()['Price']
age_average_purch_price

# Total Purchase Value
age_total_purchase_value = heroes_df.groupby(['Age Groups']).sum()['Price']
age_total_purchase_value

## Average Purchase Total Per Person By Age Group
age_average_person_purchase = age_total_purchase_value / age_purchase_count

under_10 = heroes_df.loc[heroes_df['Age Groups'] == "under 10",:].count()[0]
age_10_14 = heroes_df.loc[heroes_df['Age Groups'] == "10-14",:].count()[0]
age_15_19 = heroes_df.loc[heroes_df['Age Groups'] == "15-19",:].count()[0]
age_20_24 = heroes_df.loc[heroes_df['Age Groups'] == "20-24",:].count()[0]
age_25_29 = heroes_df.loc[heroes_df['Age Groups'] == "25-29",:].count()[0]
age_30_34 = heroes_df.loc[heroes_df['Age Groups'] == "30-34",:].count()[0]
age_35_39 = heroes_df.loc[heroes_df['Age Groups'] == "35-39",:].count()[0]
age_40_44 = heroes_df.loc[heroes_df['Age Groups'] == "40-44",:].count()[0]
age_45_50 = heroes_df.loc[heroes_df['Age Groups'] == "45-49",:].count()[0]

age_summary_dict = {"Purchase Count": [under_10, age_10_14, age_15_19,age_20_24,age_25_29,age_30_34,age_35_39,age_40_44,age_45_50],
                   "Average Purchase Price":age_average_purch_price,
                   "Total Purchase Value": age_total_purchase_value,
                   "Average Purchase Total per Person by Age Group":age_average_person_purchase}

age_summary_df = pd.DataFrame(age_summary_dict)
age_summary_df['Average Purchase Price'] = age_summary_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
age_summary_df['Total Purchase Value'] = age_summary_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
age_summary_df['Average Purchase Total per Person by Age Group'] = age_summary_df['Average Purchase Total per Person by Age Group'].astype(float).map("${:,.2f}".format)

age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Groups,,,,
under 10,32,$3.40,$108.96,$3.40
10-14,54,$2.90,$156.60,$2.90
15-19,200,$3.11,$621.56,$3.11
20-24,325,$3.02,$981.64,$3.02
25-29,77,$2.88,$221.42,$2.88
30-34,52,$2.99,$155.71,$2.99
35-39,33,$3.40,$112.35,$3.40
40-44,7,$3.08,$21.53,$3.08
45-49,0,$nan,$0.00,$nan

In [12]:
# Top Spenders
# Identify the top 5 spenders in the game by total purchase value, then list (in a table):
spenders_total_purchase_value = heroes_df.groupby("SN").sum()
#spenders_total_purchase_value.head(10)

spenders_purchase_count =  heroes_df.groupby(['SN']).count()['Purchase ID']
#spenders_purchase_count.head(10)

# Average Purchase Price ... calculate this before resorting and indexing all of the things
spenders_average_purchase_price = spenders_total_purchase_value['Price'] / spenders_purchase_count

spenders_average_purchase_price_df = pd.DataFrame({'Average Purchase Price':spenders_average_purchase_price})

spenders_average_purchase_price_df = spenders_average_purchase_price_df.sort_values(['Average Purchase Price'], ascending=False)
#### QUESTION:  the formatting line below takes it out of table format... why?
#spenders_average_purchase_price_df = spenders_average_purchase_price_df['Average Purchase Price'].astype(float).map("${:,.2f}".format)
spenders_average_purchase_price_df

In [16]:
# now sort and index the things to get the top five
spenders_df = spenders_total_purchase_value.reset_index()

spenders_df = spenders_df.sort_values(['Price'], ascending=False)
spenders_df = spenders_df[['SN','Price']]
spenders_df = spenders_df.rename(columns={'Price':'Total Purchase Value'})
spenders_df['Total Purchase Value'] = spenders_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
spenders_df.head()

              SN Total Purchase Value
360    Lisosia93               $18.96
246  Idastidru52               $15.45
106   Chamjask73               $13.83
275       Iral74               $13.62
281  Iskadarya95               $13.10

In [17]:
# Purchase Count

spenders_purchase_count_df = spenders_purchase_count.reset_index()

spenders_purchase_count_df = spenders_purchase_count_df.sort_values(['Purchase ID'], ascending=False)

spenders_purchase_count_df = spenders_purchase_count_df.rename(columns={'Purchase ID':'Purchase Count'})

spenders_purchase_count_df.head()

              SN  Purchase Count
360    Lisosia93               5
275       Iral74               4
246  Idastidru52               4
75        Asur53               3
274    Inguron55               3

In [ ]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value

In [ ]:
# Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table)
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value