In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
purchase_data_csv = 'Resources/purchase_data.csv'

In [3]:
# Read with Pandas
heroes_df = pd.read_csv(purchase_data_csv)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Player Count: Total Number of Players
# Purchase ID is one unique field, another choice would be SN or Screen Name
player_count = heroes_df["SN"].count()
player_count

780

In [23]:
# Purchasing Analysis (Total)

# Number of Unique Items
items = heroes_df['Item Name'].nunique()
print('Number of Unique Items: ' + str(items))
print(f'Number of Unique Items: {items}')

# Total Number of Purchases
total_number_purchases = heroes_df['Purchase ID'].count()
total_number_purchases

# Total Revenue
total_revenue = heroes_df['Price'].sum()
#total_revenue = total_revenue.astype(float).map("${:, .2f}".format)
print(f'Total Revenue: {total_revenue}')

# Average Purchase Price
average_purchase_price = total_revenue/total_number_purchases
print(f'Average Purchase Price: {average_purchase_price}')

Number of Unique Items: 179
Number of Unique Items: 179
Total Revenue: 2379.77
Average Purchase Price: 3.0509871794871795

In [49]:
# Gender Demographics

gender_summary = heroes_df['Gender'].value_counts()
print(gender_summary)

# Percentage and Count of Male Players
males = heroes_df.loc[heroes_df['Gender'] == 'Male',:].count()
print(males)
percent_of_males = males/player_count
print(percent_of_males)
#print(f'Count of Male Players: {males} and Percent of Male Players: {percent_of_males}')

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64
Purchase ID    0.835897
SN             0.835897
Age            0.835897
Gender         0.835897
Item ID        0.835897
Item Name      0.835897
Price          0.835897
dtype: float64

In [51]:
# Percentage and Count of Female Players
females = heroes_df.loc[heroes_df['Gender'] == "Female",:].count()
print(f'Count of Female Players: {females}')
percent_of_females = females/player_count
print(percent_of_females)

Count of Female Players: Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64
Purchase ID    0.144872
SN             0.144872
Age            0.144872
Gender         0.144872
Item ID        0.144872
Item Name      0.144872
Price          0.144872
dtype: float64

In [52]:
# Percentage and Count of Other / Non-Disclosed
others = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed",:].count()
print(f'Count of Other / Non-Disclosed Players: {others}')
percent_of_others = others/player_count
print(percent_of_others)

Count of Other / Non-Disclosed Players: Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64
Purchase ID    0.019231
SN             0.019231
Age            0.019231
Gender         0.019231
Item ID        0.019231
Item Name      0.019231
Price          0.019231
dtype: float64

In [ ]:
# Purchasing Analysis (Gender)
# Broken down by each gender:
# Purchase Count
# Average Purchase Price
# Total Purchase Value 
# Average Purchase Total per Person by Gender