In [1]:
# Dependencies
import pandas as pd

In [2]:
# Save file path to variable
purchase_data_csv = 'Resources/purchase_data.csv'

In [3]:
# Read with Pandas
heroes_df = pd.read_csv(purchase_data_csv)
heroes_df.head()
#heroes_df.info()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Player Count: Total Number of Players
player_demo_df = heroes_df.loc[:,['SN', 'Age','Gender']]
player_demo_df = player_demo_df.drop_duplicates()
total_players = player_demo_df.count()[0]
total_players_dict = [{"Total Players":total_players}]
total_players_df = pd.DataFrame(total_players_dict)
total_players_df

   Total Players
0            576

In [5]:
# Purchasing Analysis (Total)

# Number of Unique Items
items = heroes_df['Item Name'].nunique()

# Total Number of Purchases
total_number_purchases = heroes_df['Purchase ID'].count()
total_number_purchases

# Total Revenue
total_revenue = heroes_df['Price'].sum()
#total_revenue = total_revenue.astype(float) #.map("${:, .2f}".format)

# Average Purchase Price
average_purchase_price = total_revenue/total_number_purchases
#average_purchase_price = average_purchase_price.map(to_float).map("${:, .2f}".format)


purchase_analysis_list = [{"Number of Unique Items": items,
                           "Average Price": average_purchase_price,
                           "Number of Purchases": total_number_purchases,
                            "Total Revenue": total_revenue }]

purchase_analysis_df = pd.DataFrame(purchase_analysis_list)
purchase_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [6]:
# Gender Demographics
gender_summary = heroes_df['Gender'].value_counts()


# Percentage and Count of Male Players
males_df = player_demo_df.loc[player_demo_df['Gender'] == 'Male',:].count()
males = males_df.iloc[1]
percent_of_males = males/total_players

# Percentage and Count of Female Players
females_df = player_demo_df.loc[player_demo_df['Gender'] == "Female",:].count()
females = females_df.iloc[1]
percent_of_females = females/total_players

# Percentage and Count of Other / Non-Disclosed
others_df = player_demo_df.loc[player_demo_df['Gender'] == "Other / Non-Disclosed",:].count()
others = others_df.iloc[1]
percent_of_others = others/total_players

gender_summary_dict = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
                       "Count": [males, females, others],
                       "Percent":[percent_of_males, percent_of_females, percent_of_others]}

gender_summary_df = pd.DataFrame(gender_summary_dict)
gender_summary_df

                  Gender  Count   Percent
0                   Male    484  0.840278
1                 Female     81  0.140625
2  Other / Non-Disclosed     11  0.019097

In [7]:
# Purchasing Analysis (Gender)
# the below, each broken by gender
males_df = heroes_df.loc[:,['SN', 'Age','Gender', 'Price']]

## purchase count
male_purchases = heroes_df.loc[heroes_df['Gender'] == "Male",:].count()[0]

female_purchases = heroes_df.loc[heroes_df['Gender'] == "Female",:].count()[0] 

other_purchases = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed",:].count()[0] 

## total purchase value
## average purchase price
average_purchase_price = heroes_df['Price'].mean()
average_purchase_price 

## average purchase total per person by gender
total_males_purchase_price = heroes_df.loc[heroes_df['Gender'] == "Male",:].sum()[6] 
average_males_purchase_price = total_males_purchase_price / male_purchases
#print(average_males_purchase_price)
total_females_purchase_price = heroes_df.loc[heroes_df['Gender'] == "Female",:].sum()[6] 
average_females_purchase_price = total_females_purchase_price / female_purchases
#print(average_females_purchase_price)
total_others_purchase_price = heroes_df.loc[heroes_df['Gender'] == "Other / Non-Disclosed",:].sum()[6] 
average_others_purchase_price = total_others_purchase_price / other_purchases
#print(average_others_purchase_price)

males_test = heroes_df[heroes_df["Gender"] == "Male"]
males_test.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
# Add to the summary dataframe ...separate cell for now
gender_summary_df.insert(loc=3, column='Purchase Count', value=[male_purchases, female_purchases, other_purchases])
gender_summary_df.insert(loc=3, column='Total Purchase Value', value=[total_males_purchase_price, total_females_purchase_price, total_others_purchase_price])
gender_summary_df.insert(loc=3, column='Average Purchase Price', value=[average_males_purchase_price, average_females_purchase_price, average_others_purchase_price])

gender_summary_df
#purchase_by_gender_dict = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
#                           "Purchase Count":[males_purchases, female_purchases, other_purchases]
#                            }
#purchase_by_gender_summary_df = pd.DataFrame(purchase_by_gender_dict)
#purchase_by_gender_summary_df

,Gender,Count,Percent,Average Purchase Price,Total Purchase Value,Purchase Count
0,Male,484,0.840278,3.017853,1967.64,652
1,Female,81,0.140625,3.203009,361.94,113
2,Other / Non-Disclosed,11,0.019097,3.346000,50.19,15

In [9]:

# DELETE ME?
unique_count = heroes_df["SN"].nunique()
print(unique_count)
#unique-count = gender_analysis_df["SN"].
#print(unique-count)
# Purchase Count 
#gender_purchase_count = heroes_df.groupby(['Gender']).count()
#gender_purchase_count
#gender_comparison_df

576

In [44]:
# Age Demographics
# The below, each broken into bins of 4 years (i.i < 10, 10-14, 15-19, etc.)

bins = [0,10,15,20,25,30,35,40,45, 50]  #note to self, max age is 45
group_names = ["under 10","10-14","15-19","20-24", "25-29","30-34","35-39","40-44","45-49"]

heroes_df["Age Groups"] = pd.cut(heroes_df["Age"], bins, labels=group_names, include_lowest=True)
heroes_df

#  Purchase Count
under_10 = heroes_df.loc[heroes_df['Age Groups'] == "under 10",:].count()[0]
age_10_14 = heroes_df.loc[heroes_df['Age Groups'] == "10-14",:].count()[0]
age_15_19 = heroes_df.loc[heroes_df['Age Groups'] == "15-19",:].count()[0]
age_20_24 = heroes_df.loc[heroes_df['Age Groups'] == "20-24",:].count()[0]
age_25_29 = heroes_df.loc[heroes_df['Age Groups'] == "25-29",:].count()[0]
age_30_34 = heroes_df.loc[heroes_df['Age Groups'] == "30-34",:].count()[0]
age_35_39 = heroes_df.loc[heroes_df['Age Groups'] == "35-39",:].count()[0]
age_40_44 = heroes_df.loc[heroes_df['Age Groups'] == "40-44",:].count()[0]
age_45_50 = heroes_df.loc[heroes_df['Age Groups'] == "45-49",:].count()[0]

age_demo_dict = {'under 10':under_10,
                    '10-14':age_10_14,
                    '15-19':age_15_19,
                    '20-24':age_20_24,
                    '25-29':age_25_29,
                    '30-34':age_30_34,
                    '35-39':age_35_39,
                    '40-44':age_40_44,
                    '45-49':age_45_50}
age_demo_summary = pd.DataFrame([age_demo_dict])  #, columns=["Age Group", "Purchases"])
age_demo_summary

   under 10  10-14  15-19  20-24  25-29  30-34  35-39  40-44  45-49
0        32     54    200    325     77     52     33      7      0

In [35]:
new_summary = age_demo_summary.stack(0)
new_summary

0  under 10     32
   10-14        54
   15-19       200
   20-24       325
   25-29        77
   30-34        52
   35-39        33
   40-44         7
   45-49         0
dtype: int64

In [40]:
#  Average Purchase Price

age_group = heroes_df.groupby("Age Groups")
print(age_group["Price"].mean())
age_group_ave_price = age_group["Price"].mean()



#age_group["Average Purchase Price"] = age_group["Price"].mean()


#heroes_df[""]

#  Total Purchase Value
print(age_group["Price"].sum())
#age_group["Total Purchase Value"] = age_group["Price"].sum()

#  Average Purchase Total per Person by Age Group

#age_group["Ave Purchase Total per Person by Age Group"] = age_group["Total Purchase Value"]/
#print(age_group["Price"].sum()/age_demo_summary[])

Age Groups
under 10    3.405000
10-14       2.900000
15-19       3.107800
20-24       3.020431
25-29       2.875584
30-34       2.994423
35-39       3.404545
40-44       3.075714
45-49            NaN
Name: Price, dtype: float64
Age Groups
under 10    108.96
10-14       156.60
15-19       621.56
20-24       981.64
25-29       221.42
30-34       155.71
35-39       112.35
40-44        21.53
45-49         0.00
Name: Price, dtype: float64

In [48]:
# Top Spenders
# Identify the top 5 spenders in the game by total purchase value, then list (in a table):
spenders_group = heroes_df.groupby("SN")
#spenders["SN","Amount Spent"] = spenders_group["Price"].sum
#spenders
print(spenders["Price"].sum())
#  SN (Screen Name)
#  Purchase Count
#  Average Purchase Price
#  Total Purchase Value

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [ ]:
# Most Popular Items
# Identify the 5 most popular items by purchase count, then list (in a table):
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value

In [ ]:
# Most Profitable Items
# Identify the 5 most profitable items by total purchase value, then list (in a table)
#  Item ID
#  Item Name
#  Purchase Count
#  Item Price
#  Total Purchase Value